@import './variables.scss';

.app-container {
  @import './inputs';
  @import './nav.scss';
  @import './progress-bar.scss';
  @import './components';
}

body {
  background-color: $bg-color;
}

.splash-loading {
  background-size: 200px 200px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .47) 25%, transparent 25%,
          transparent 50%, rgba(255, 255, 255, .47) 50%, rgba(255, 255, 255, .47) 75%,
          transparent 75%, transparent);
  animation: animate-splash-loading 2s linear infinite;


  @keyframes animate-splash-loading {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 400px 0;
    }
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}
